<template name="lineChart">
     <div id="line-chart">
                        <div class="canvas-holder">
                                <canvas id="myChart" width="640" height="412"></canvas>
                        </div>
     </div>
</template>

<template name="chartPanel">
     <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#">Action</a>
                                            </li>
                                            <li><a href="#">Another action</a>
                                            </li>
                                            <li><a href="#">Something else here</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
         <div class="panel-body">
                    {{>  lineChart}}
         </div>
    </div>
</template>
                                                    <!-- donut chart template -->

<template name="donutChart">
                 <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> Donut Chart Example
                                    </div>
                                    <div class="panel-body">
                                        <div class="canvas-holder">
                                             <canvas id="chartDonut" width="273" height="204"></canvas>
                                        </div>
                                        <a href="#" class="btn btn-default btn-block">View Details</a>
                                    </div>
                                    <!-- /.panel-body -->
                </div>
</template>
